.ResumePage{

	@media print{
		.links{
			display: none !important;
		}
	}

	.links{
		display: flex;
		position: fixed;
		right : 10px;
		top : 10px;

		flex-direction: column;
		a{
			font-size: 2em;
			cursor: pointer;
			text-decoration: none;
			color : black;
			&:hover{
				color : @blue;
			}
		}
	}


	.container {
		margin     : 0 auto;
		padding    : 40px;
		background : #ddd;
		text-align : left;
		@media print{
			padding : 0;
			background-color: white;
		}
	}

}