@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,700');


require('./reset.less');
require('./colors.less');
require('./hint.less');

html, body, main{
	height : 100%;
	width: 100%;
	//font-family: 'Lato', sans-serif;
	//font-family: 'Roboto Slab', serif;
	font-family: 'Roboto', sans-serif;
}


.Main{
	position: relative;
	height : 100%;
	width : 100%;
//height : 800px;

}



.what-the-hex(){background-image:url('https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex.png');background-blend-mode:multiply; }
.full-bloom(){background-image:url('https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png');background-blend-mode:multiply; }
.funky-lines(){background-image:url('https://www.toptal.com/designers/subtlepatterns/patterns/funky-lines.png');background-blend-mode:multiply; }
.tiny-squares(){background-image:url('https://www.toptal.com/designers/subtlepatterns/patterns/tiny-squares.png');background-blend-mode:multiply; }
