
@import './resume/resume.base.less';
@import './resume/latex_fonts.less';

.latex{
	font-family: 'Latex', serif;

	font-size : 1.0em;
	//font-size : 10pt;



	.temp{
		display: flex;

		.sidebar{
			display: inline-block;
			width : 30%;
			margin-right: 20px;
		}
		.main{
			display: inline-block;
			width : 70%;
			flex-grow:1;
		}
	}



	h1{
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 0px;

		&+h3{
			font-size: 1em;
			text-align: center;
			//display: none;
		}
	}

	h2,h3,h4,h5{
		font-size: 1em;
		margin: 0;
		a{
			color : black;
		}
	}


	h2{
		margin-top: 1em;
		margin-bottom: 0.25em;
		text-transform: uppercase;
		border-bottom: 1px solid black;
	}



	/*
	section.contact{
		h2{ display: none; }
		ul{
			display: flex;
			justify-content: space-around;
			list-style: none;
			padding: 0;
			li{
				//margin: 0 10px;
				text-align: center;
				width: 20%;
			}
		}
	}*/


	section.projects{
		p{
			margin-bottom: 10px;
		}

	}




	section{
		h2{
			margin-left: -8px;
		}
		padding-left: 8px;
	}

	section.experience{

		h4{
			padding-left: 1em;
		}
		ul{
			padding-left : 3em;
		}
		/* Experience dates */
		h3 em, h4 em{
			float: right;
			font-weight: 500;
			font-size: 0.8em;
		}
	}

	section.contact{
		ul{
			list-style: none;
			padding-left : 0;
		}
	}





	/* Hide logos */
	h3:before{
		display: none !important;
	}

	/* Hide sections */
	section.education{
		display: none;
	}
	section.about{
		display: none;
	}
}